:host {
  display: flex;
  flex-direction: column;

  > input#input {
    --height: 32px;
    --width: 160px;
    --horizontal-padding: 12px;

    --font-size: 14px;
    --color: rgba(black, 0.87);
    --placeholder-color: rgba(black, 0.38);

    -webkit-tap-highlight-color: transparent !important;
    appearance: none !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;

    display: block;

    height: var(--height);
    width: var(--width);
    padding: 0px var(--horizontal-padding);

    font: 14px unquote('/') 1 Roboto, sans-serif;
    color: var(--color);

    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  > div#listContainer {
    position: relative;
    display: block;

    > div#list {
      position: absolute;
      display: flex;
      flex-direction: column;

      --children-vertical-margin: 8px;

      > * {
        margin-top: var(--children-vertical-margin);
        margin-bottom: var(--children-vertical-margin);
      }

      > * + * {
        margin-top: unset;
        margin-bottom: var(--children-vertical-margin);
      }

      > div.listItem {
        --background: #FFFFFF;
        --border-radius: 3px;
        --border: 1px solid #{rgba(black, 0.12)};
        --box-shadow: 0px 0px 4px #{rgba(black, 0.12)};

        --hover-background: #FAFAFA;
        --hover-box-shadow: 0px 0px 8px #{rgba(black, 0.24)};

        display: flex;
        align-items: flex-start;

        background: var(--background);
        border-radius: var(--border-radius);
        border: var(--border);
        box-shadow: var(--box-shadow);

        transition-property: background, box-shadow;
        transition-duration: 100ms;
        transition-timing-function: ease;

        cursor: pointer;

        &:hover {
          background: var(--hover-background);
          box-shadow: var(--hover-box-shadow);
        }

        > img#image {
          --size: 24px;
          --margin: 4px;

          display: block;
          flex: 0 0 auto;

          width: var(--size);
          height: var(--size);
          border-radius: calc(var(--size) / 2);
          margin: var(--margin);

          + div#text {
            margin-left: var(--margin-left-with-image) !important;
          }
        }

        > div#text {
          --margin-left-with-image: 4px;
          --margin-left-without-image: 12px;
          --margin-right: 12px;
          --children-vertical-margin: 4px;

          display: flex;
          flex-direction: column;

          margin-left: var(--margin-left-without-image);
          margin-right: var(--margin-right);

          > * {
            margin-top: var(--children-vertical-margin);
            margin-bottom: var(--children-vertical-margin);
          }

          > * + * {
            margin-top: unset;
            margin-bottom: var(--children-vertical-margin);
          }

          > div#name {
            --font-size: 14px;
            --color: #{rgba(black, 0.87)};

            display: block;

            font: 14px unquote('/') 1 Roboto, sans-serif;
            color: var(--color);
          }

          > div#emailAddress {
            --font-size: 14px;
            --color: #{rgba(black, 0.54)};

            display: block;

            font: 14px unquote('/') 1 Roboto, sans-serif;
            color: var(--color);
          }
        }
      }
    }
  }
}
