:host {
  --horizontal-margin: 2px;
  --vertical-margin: 2px;

  display: flex;
  flex-wrap: wrap;

  margin: var(--horizontal-margin) var(--vertical-margin);

  > * {
    margin: var(--horizontal-margin) var(--vertical-margin);
  }
}
