<uc-contact-chip *ngFor='let i = index; let contact of contacts' [index]='i' [contact]='contact' (close)='$close($event)'></uc-contact-chip>
<uc-contact-input [placeholder]='placeholder' [knownContacts]='knownContacts' (selectedContact)='$selectedContact($event)'></uc-contact-input>
